.signup-button {

	display: block;
}


.main-button {

	width: 200px;
}

.feature-left .one-half, .feature-right .one-half {

    background-position: center;
}

.more_info {

	height: 0;
	transition: height 1s;
	width: 100%;
    margin-right: 4%;
    margin-bottom: 30px;
    float: left;  
}

.learn {

	cursor: pointer
}

.trusted_bullets > * {

	margin-bottom: 20px;
}