/*CUSTOM CSS WRITTEN TO EXTEND THE ORIGINAL LANDY THEME*/

.page-template-homepage #header .no-showcase {
    padding-bottom: 150px;
}

#dynamic {
    height: 80px;
    max-height: 80px;
    padding-top: 10px;
}

#dynamic nav {
    margin: auto;
}

#header:before {
    z-index: 1;
}

.menu-item a:hover {
    color: #82ca9c;
}

#header .row {
    z-index: 2;
}

#header h2 {
    margin: 0;
    text-align: left;
    max-width: 350px;
}

.page-template-homepage #header .no-showcase {
    padding-top: 80px;
}

.logo-image {
    height: 40px;
}

.button-area {
    text-align: left;
}

.signup-button .main-button {
    background-color: #82ca9c;
    color: #fff !important;
    border: none !important;
    border-radius: 4px;
}

.signup-button .main-button:before {
    background: #fff !important;
    border-radius: 4px;
}

.signup-button .main-button:hover {
    color: #82ca9c !important;
}

.apple-button .main-button:hover,
.android-button .main-button:hover {
    color: #fff !important;
}

.apple-button .main-button,
.android-button .main-button {
    background: none;
    border-radius: 4px;
}

.second-button .main-button,
.first-button .main-button {
    margin-left: 0;
}

.main-button {
    width: 200px;
}

#smart-landlords,
#trusted-contractors {
    overflow-y: hidden;
}

.hidden_descrp::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid rgba(66,66,73, 0.9);
    position: absolute;
    top: -20px;
    left: 60%;
}

.hidden_descrp {
    opacity: 0;
    text-align: center;
    width: 80%;
    color: #fff;
    margin: 0 auto;
    background-color: rgba(66,66,73, 0.9);
    padding: 20px 10px;
    z-index: 2;
    border-radius: 5px;
    position: absolute;
    transition: opacity 0.7s;
}

.feature-left .one-half,
.feature-right .one-half {
    background-position: center;
}

.feature_icon {
    height: 50px;
    display: block;
    margin: 0 auto;
}

.more_info {
    height: 0;
    transition: height 1s;
    margin-right: 4%;
    margin-bottom: 30px;
    float: left;
    background-color: white;
    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close_features {
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    bottom: 20px;
}

.feature_content {
    display: none;
    transition: opacity 0.5s;
}

.close_features {
    transition: opacity 0.5s;
    display: none;
}

.learn {
    transition: height 0.5s;
}

.learn,
.close_features {
    cursor: pointer;
}

.trusted_bullets > * {
    margin-bottom: 20px;
}

.testims_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 120px;
}

.testims_row {
    display: flex;
    justify-content: center;
}

.one_testim {
    max-width: 500px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
    position: relative;
    display: flex;
    justify-content: center;
}

.filter {
    background-color: #2d2d35;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}

.image-blockquote.custom {
    max-width: 500px;
}

.image-blockquote.custom img {
    border-radius: 0;
    filter: brightness(0.9);
}

.text-blockquote.custom {
    width: 90%;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.text-blockquote.custom > * {
    color: white;
    transition: opacity 0.5s;
}

.text-blockquote.custom > h6 {
    font-size: 25px;
    position: absolute;
    bottom: 50px;
}

.excerpt {
    position: absolute;
    bottom: 20px;
    font-size: 0.85em;
}

.text-blockquote.custom .quote {
    text-align: center;
    opacity: 0;
    font-size: 25px;
    vertical-align: middle;
    font-weight: 100;
}

#trusted-contractors .row {
    padding: 100px 0;
}

#trusted-contractors .border-center {
    margin-bottom: 70px;
}

#trusted-contractors .feature_icon {
    height: 30px;
    margin-bottom: 10px;
}

#trusted-contractors .playne_one-third {
    z-index: 2;
}

.form_wrap {
    background-color: #F8F8F8;
    margin: 50px 20% 0;
    padding-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.switcher {
    width: 300px;
    height: 40px;
    margin: 0 auto 30px auto;
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    border-radius: 5px;
    border: solid 1.5px #84c99d;
    display: none;
}

.switcher_sect {
    background-color: #fff;
    width: 50%;
    text-align: center;
    line-height: 40px;
    height: 100%;
    cursor: pointer;
}

.switcher_on {
    background-color: #84c99d;
    color: #fff;
    cursor: initial;
}

#get-started-for-free .border-block {
    margin-bottom: 0;
}

form.get_started {
    padding: 10px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.get_started > fieldset {
    text-align: center;
}

.get_started > * {
    width: 100%;
}

.radios {
    display: none;
    align-items: center;
    justify-content: space-between;
}

.radio_wrap {
    display: inline-block;
}

.radio_wrap:first-child {
    margin-left: 40px;
}

.honor {
    -webkit-appearance: checkbox;
    position: relative;
    right: 5px;
}

.honor:checked {
    background-color: yellow;
}

.radios > label {
    width: 10%;
}

.radios > br {
    display: none;
}

.texts {
    margin-top: 30px;
}

.texts > input {
    width: 100%;
    margin-bottom: 30px;
    height: 50px;
    font-size: 15px;
    border-radius: 5px;
}

#get-started-for-free .signup-button {
    text-align: center;
}

#get-started-for-free .signup-button .main-button {
    margin-left: 15px;
    font-size: 15px;
    padding: 17px 32px;
}

#footer > .row {
    display: none;
}

.footer-bottom {
    filter: brightness(1);
}

.main-menu-footer .columns {

    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#footer .columns {

    margin: 0;
}

.columns .footer_column {

    text-align: left;
    flex-grow: 1;
    height: 50px;
}

.columns .footer_column h3 {

    font-size: 15px;
    color: #C0C0C1;
    font-family: 'Raleway','Open Sans',Helvetica,Arial,sans-serif;
    margin-bottom: 5px;
}

.columns .footer_column a {

    display: block;
    color: #8A8A8B;
}



.main-menu-footer .copyright {

    color: #8A8A8B;
    line-height: initial;
    position: relative;
    top: 25px;
}

#content-wrapper #footer .footer-bottom .row {
    padding-bottom: 25px;
}

.footer_icons {

    font-size: 20px;
    line-height: 20px;
    color: #6D6D6E;
}

.footer_icons a {

    display: inline-block !important;
}



